<app-navbar></app-navbar>

<div class="steps-container">
  <!-- Botón para subir archivo -->
  <input
    type="file"
    id="fileInput"
    (change)="onFileSelected($event)"
    style="display: none"
  />

  <div class="upload-section">
    <button
      mat-raised-button
      color="primary"
      class="square-button"
      (click)="triggerFileInput()"
      matTooltip="Seleccionar archivo para subir"
    >
      <mat-icon>upload</mat-icon>
      Subir Archivo
    </button>
    <div *ngIf="selectedFile" class="file-info">
      Archivo seleccionado: {{ selectedFile?.name }}
    </div>
  </div>

  <!-- Botón procesar, deshabilitado hasta que se suba un archivo -->

  <div class="upload-section">
    <button
      mat-raised-button
      color="accent"
      (click)="processFile()"
      class="square-button"
      [disabled]="!selectedFile"
      matTooltip="Haz clic aquí para procesar el archivo"
    >
      <mat-icon>play_arrow</mat-icon>
      Procesar
    </button>
  </div>
</div>

<mat-tab-group class="tab-group">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">upload</mat-icon>
      Datos Cargados
    </ng-template>
    Content 1
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">check_circle</mat-icon>
      Resultado
    </ng-template>
    Content 2
  </mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>
