<app-navbar></app-navbar>
<div class="contenedor">
  <div class="steps-container">
    <!-- Botón para subir archivo -->
    <input type="file" id="fileInput" (change)="onFileSelected($event)" style="display: none" />

    <div class="upload-section">
      <button mat-raised-button color="primary" class="square-button" (click)="triggerFileInput()"
        matTooltip="Seleccionar archivo para subir">
        <mat-icon>upload</mat-icon>
        Subir Archivo
      </button>
      <div *ngIf="selectedFile" class="file-info">
        Archivo seleccionado: {{ selectedFile.name }}
      </div>
    </div>

    <!-- Botón procesar, deshabilitado hasta que se suba un archivo -->
    <button mat-raised-button color="primary" class="square-button" (click)="ejecutarMinizinc()">
      Procesar
    </button>
  </div>



  <mat-tab-group class="tab-group">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">upload</mat-icon>
        Datos Cargados
      </ng-template>
      <div class="contenedor-columnas">


        <div class="columna">
          <div *ngIf="parsedData.numPersonas" class="data-display">
            <h2 class="centered-title">Datos Cargados</h2>
            <p><strong>Número de Personas:</strong> {{ parsedData.numPersonas }}</p>
            <p><strong>Número de Opiniones:</strong> {{ parsedData.numOpiniones }}</p>

            <div>
              <table class="styled-table">
                <thead>
                  <tr>
                    <th colspan="2" style="text-align: center; font-weight: bold;">
                      Distribución de Personas por Opinión
                    </th>
                  </tr>
                  <tr>
                    <th>Opinión</th>
                    <th>Valor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let opinion of parsedData.distribucionOpiniones; let i = index">
                    <td>Opinión {{ i + 1 }}</td>
                    <td>{{ opinion }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            <div>
              
              <table class="styled-table">
                <thead>
                  <tr>
                    <th colspan="2" style="text-align: center; font-weight: bold;">
                      Valores de las Opiniones
                    </th>
                  </tr>
                  <tr>
                    <th>Opinión</th>
                    <th>Valor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let valor of parsedData.valoresOpiniones; let i = index">
                    <td>Opinión {{ i + 1 }}</td>
                    <td>{{ valor }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div>
              <table class="styled-table">
                <thead>
                  <tr>
                    <th colspan="2" style="text-align: center; font-weight: bold;">
                      Costos Extras
                    </th>
                  </tr>
                  <tr>
                    <th>Opinión</th>
                    <th>Costo Extra</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let costoExtra of parsedData.costosExtras; let i = index">
                    <td>Opinión {{ i + 1 }}</td>
                    <td>{{ costoExtra }}</td>
                  </tr>
                </tbody>
              </table>
            </div>


            <div>
              <table class="styled-table">
                <thead>
                  <tr>
                    <!-- Colspan dinámico con el número de opiniones -->
                    <th [attr.colspan]="parsedData.numOpiniones" style="text-align: center; font-weight: bold;">
                      Costo de Desplazamiento entre Opiniones
                    </th>
                  </tr>
                  <tr>
                    <!-- Encabezado de las columnas dinámicas con el número de opiniones -->
                    <th *ngFor="let i of parsedData.costosDesplazamiento[0]; let j = index">
                      Opinión {{ j + 1 }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of parsedData.costosDesplazamiento">
                    <td *ngFor="let cost of row">{{ cost }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <p>
              <strong>Costo Total Máximo Permitido:</strong>
              {{ parsedData.costoTotalMax }}
            </p>
            <p>
              <strong>Número Máximo de Movimientos Permitidos:</strong>
              {{ parsedData.maxMovimientos }}
            </p>
          </div>
        </div>
        <div class="columna-2" *ngIf="parsedData.numPersonas" class="data-display">
          <canvas baseChart [datasets]="barChartData.datasets" [labels]="barChartData.labels"
            [options]="barChartOptions" [type]="'bar'" class="canva-bar">
          </canvas>

        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">check_circle</mat-icon>
        Resultado
      </ng-template>

      <div *ngIf="polarizacion_inicial !== null && movimientos_totales !== null && distribucion_final !== null">
        <h3>Resultado de MiniZinc</h3>
        <p><strong>Polarización inicial:</strong> {{ polarizacion_inicial }}</p>
        <p><strong>Polarización final:</strong> {{ polarizacion_final }}</p>
        <p><strong>Movimientos totales:</strong> {{ movimientos_totales }}</p>
        <p><strong>Costo total:</strong> {{ costo_total }}</p>

        <h4>Distribución final de personas por opinión</h4>
        <table class="styled-table">
          <thead>
            <tr>
              <th>Opinión</th> <!-- Nueva columna para Opinión -->
              <th>Personas</th> <!-- Columna para Personas -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let valor of distribucion_final; let i = index">
              <td>Opinión {{ i + 1 }}</td> <!-- Nueva columna con "Opinión X" -->
              <td>{{ valor }}</td> <!-- Columna de Personas -->
            </tr>
          </tbody>
        </table>

      </div>

      <div *ngIf="errorMessage">
        <p class="error-message">{{ errorMessage }}</p>
      </div>
    </mat-tab>

  </mat-tab-group>


</div>
<router-outlet></router-outlet>