.square-button {
    width: 100%; /* Ajusta el ancho al 100% para que sea responsivo */
    max-width: 170px; /* Limita el ancho máximo */
    height: 50px; /* Ajusta el tamaño según tus necesidades */
    border-radius: 0; /* Para un borde cuadrado */
    color: black; 
}

.steps-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se muevan a la siguiente línea si es necesario */
    justify-content: center;
    gap: 20px; /* Espaciado entre elementos */
    margin-top: 20px;
}

.upload-section {
    max-width: 170px; 
    width: 100%; 
    display: flex;
    flex-direction: column; /* Apila el botón y la información del archivo verticalmente */
    align-items: center; /* Centra los elementos en el eje horizontal */
}

.file-info {
    margin-top: 10px; /* Espacio entre el botón y la información del archivo */
    text-align: center; /* Centra el texto */
}

.tab-group {
    margin-top: 40px; /* Margen superior */
    width: 100%; /* Ajusta el ancho al 100% */
}

.tab-icon {
    margin-right: 8px; /* Espacio entre el ícono y el texto en los tabs */
}

/* Ajustes de media queries para pantallas más pequeñas */
@media (max-width: 600px) {
    .square-button {
        width: 100%; /* Botones ocupan todo el ancho en pantallas pequeñas */
    }
    
    .steps-container {
        flex-direction: column; /* Apila los elementos verticalmente en pantallas pequeñas */
        align-items: center; /* Centra los elementos */
    }
}
