.square-button {
    width: 100%;
    max-width: 170px;
    height: 50px;
    border-radius: 20px;
    color: black;
    padding: 20px;
}

.contenedor {
    margin: 20px;
    /* Espacio exterior */
}

.contenedor-columnas {
    display: flex;
    flex-direction: row;
    /* Las columnas estarán en fila (horizontales) */
    gap: 20px;
    /* Espacio entre las columnas */
    margin-top: 50px;
    align-items: left !important;
}
.contenedor-final {
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically, if needed */
    margin: 0 auto; /* Automatically adjusts side margins to center */
    max-width: 100%; /* Adjusts to the screen size */
  }
.columna {

    /* Las columnas tomarán el mismo ancho disponible */
    padding: 15px;

    /* Opcional, para agregar borde a las columnas */
    /* Fondo opcional */
}
.tabla-centrada {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; /* Ajusta el margen según lo necesites */
  }
.canva-bar {
    width: 550px;
}

.columna-2 {
    margin-top: 150px;
    margin-bottom: 10px;
    display: flex;              /* Establece el contenedor como flex */
    justify-content: center;    /* Centra el contenido horizontalmente */
    align-items: center;        /* Centra el contenido verticalmente */
    height: 100%;
    width: 100%;               /* Asegura que el contenedor tenga altura completa */
  }
  .columna-2-final {
    align-items: center;
    padding: 15px;       /* Asegura que el contenedor tenga altura completa */
  }
.steps-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.upload-section {
    max-width: 170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-info {
    margin-top: 10px;
    text-align: center;
}

.tab-group {
    margin-top: 40px;
    width: 100%;
}

.tab-icon {
    margin-right: 8px;
}

.centered-title {
    text-align: center;
    font-size: 30px;
    align-items: center !important;
    justify-content: center !important; /* Centers the content horizontally */

}

.styled-table {
    width: 100%;
    max-width: 400px;
    /* Limita el ancho máximo de las tablas */
    border-collapse: collapse;
    margin: 10px 0; /* Elimina el centrado (cambia auto por 0) */
    font-size: 14px; /* Disminuye el tamaño de la fuente */
    text-align: left; /* Alinea el texto a la izquierda */
}
.table-title {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
  }
.styled-table th,
.styled-table td {
    padding: 8px 10px;
    /* Reduce el padding de las celdas */
}

.styled-table th {
    /* Color de fondo para el encabezado */

    font-size: 16px;
    /* Tamaño de fuente ligeramente más grande para los encabezados */
}

.styled-table tr:nth-child(even) {
    background-color: #f2f2f2;
    /* Fondo alterno para filas pares */
}

.styled-table tr:hover {
    background-color: #ddd;
    /* Resalta la fila al pasar el mouse */
}

.styled-table td,
.styled-table th {
    border: 1px solid #ddd;
    /* Bordes de las celdas */
}

@media (max-width: 600px) {
    .styled-table {
        max-width: 100%;
        /* Se ajusta al 100% del ancho en pantallas pequeñas */
    }

    .square-button {
        width: 100%;
    }

    .steps-container {
        flex-direction: column;
        align-items: center;
    }
}

.button-disabled {
  background-color: grey !important;
  color: white !important;
}

.button-enabled {
  background-color: #3f51b5 !important; /* Color azul predeterminado de Material Design */
  color: white !important;
}
.processing-message {
  margin-top: 10px;
  color: #1976d2; /* Azul acorde con el botón */
  font-weight: bold;
}
