/* navbar.component.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #042956;
  padding: 5px;
}


.title {
  color: white;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  flex: 1;
  font-family: 'Roboto', sans-serif; /* Aplica la fuente Roboto */
}

.icon {
  padding-right: 25px;
  color: white;            
  font-size: 40px;       
}

.square-button {
  width: 50px; /* Ajusta el tamaño según lo necesites */
  height: 50px; /* Ajusta el tamaño según lo necesites */
  padding: 0; /* Elimina el padding predeterminado */
  border-radius: 0; /* Elimina el borde redondeado */
  font-weight: bold; /* Hace que el texto sea negrita */
  color: black !important; /* Cambia el color del texto y usa !important */
}
